.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dials {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App .title {
  margin: 40px;
  position: relative;
  height: -50px;
}

img{
  height: 60px;  
  margin: 2px;
  position: relative;
  top: 100px;
  left: -1100px;
}
